<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Link360 Telecom</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/customers">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lineas">Líneas Móviles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorias">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/franjas">Franjas Horarias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/planes">Planes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contratos">Contratos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
